/*
    Name: Joe Barrett
    Date Created: 12.16.20
    Most Recent Revision: 12.16.20
*/
body {
    max-width: 700px;
    margin: auto;
}

header {
    padding: 20px;
}

header, footer {
    text-align: center;
    background-color: rgb(199, 174, 164);
    
}

header img {
    float:left;
}

.main {
    background-color:rgb(199, 174, 164);
    margin: 30px;
    border: solid black;
    padding: 25px 25px 45px 25px;
}

h2 {
    margin: 0px;
    text-decoration: underline;
}

.float-left {
    float: left;
}

div p {
    text-align:center;
}
a {
    text-decoration: none;
}

nav a {
    display: block;
    background-color:darkgrey;
    width: 50px;
    text-align: center;
    color: black;  
    margin: 20px;
    float: left;
    padding: 5px 13px 5px 13px;
}

nav a:hover {
    color:darkorange;
    background-color: black;
    font-weight: bolder;
}

.clear-float {
    clear: both;
}


