/*
    Name: Joe Barrett
    Date Created: 12.16.20
    Most Recent Revision: 12.17.20
*/
body {
    max-width: 900px;
    margin: auto;
}

header {
    padding: 20px;
    font-family: 'Bungee Outline'; 
}

header, footer {
    text-align: center;
    background-color: rgb(199, 174, 164); 
}

footer {
    padding-top: 10px;
}

header img {
    float:left;
}

.main {
    background-color:rgb(199, 174, 164);
    margin: 30px;
    border: solid black;
    padding: 25px 25px 45px 25px;
}

h2 {
    margin: 0px;
    text-decoration: underline;
}

.float-left {
    float: left;
}

.home-p {
    text-align:center;
}
a {
    text-decoration: none;
}

nav a {
    display: block;
    background-color:darkgrey;
    width: 50px;
    text-align: center;
    color: black;  
    margin: 20px;
    float: left;
    padding: 5px 13px 5px 13px;
}

nav a:hover {
    color:darkorange;
    background-color: black;
    font-weight: bolder;
}

.clear-float {
    clear: both;
}

.menu-description {
    text-indent: 80px;
    margin-bottom: 15px;
}

.menu-headings {
    text-indent: 20px;
    padding-bottom: 0px;
    margin-bottom: -20px;
    font-size: large;  
}

#menu-background {
    background-color: rgb(104, 141, 104);
    padding-top: 10px;
    padding-bottom: 10px;
}

#menu-title {
    font-size: xx-large;
    margin-top: -10px;
    margin-bottom: -10px;
    text-align: center;
    border-bottom: thin solid black;
}

.menu-float-left {
    float: left;
}

.bev-table {
    margin: auto;
    font-size:larger;
}

td {
    padding-bottom: 12px;
}

